* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body{

  font-family: sans-serif;
  display: block;
}
header{
  display: grid;

  width: 100%;
  margin: 0px;
  padding: 0px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "header";
  background-color: #b3dbb3; 
}


#logo{
  max-height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}


.lista{
  font-size: 20px;
  text-decoration: none;
}
.item{
  padding: 0px 5px 0px 5px;
  font-size: 30px;
  color: black;
  border-right: 1px solid black;  
  border-left: 1px solid black;
  text-align: center;
}
.lista .item:hover{
  background-color: #E7E8D1;
}

.lista a:after{
  display: block;
  content: "";
  background-color: black;
  height: 3px;
  transform: scale(0,1);
  transform-origin: left;
  transition: transform .25s;
}

.lista a:hover:after{
  transform: scale(1,1);
}


@media only screen and (max-width: 992px){
  
  .item{
    border: none;
  }
}



.imagen{
  height: 100vh;
  background-position: center;
  object-fit: cover;
} 

.imagen:hover{
  transform: scale(1.1);
  box-shadow: 2px #636363;
}

.content{
  height: auto;
  width: 100%;
  margin-top: 0px 10px 5px 10px;
  background-color: white;

}
.principal{
  width: 100%;
  border-top: 2px solid #E7E8D1;
  padding: 10px ;
  background-image: url("../imagenes/serums2.jpg");
  background-size: cover;
  background-position: center;
  object-fit: contain;
  flex-wrap: nowrap;
}
.call{
  width: 80%;
  padding: 10px;
  float:center;
  background: rgb(240, 234, 220, 0.53);
  margin: auto;
}
.principal h1{
  font-size: 35px;
  color: black;
  width: inherit;
  padding: 5px;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
}

.principal p{
  text-align: center;
  font-size: 20px;
  height: 60%;
  width: 90%;
  padding: 10px;
  margin: 10px;
  color: black;
  text-decoration: none;
}
.types{
  padding: 5px;
  position: relative;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
}
.content h1{
  font-size: 35px;
  width: 100%;
  padding: 4px;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.type{
  display: flex;
  justify-content: center;
  width: auto;
  flex-flow: row wrap;
  border: 1.5px solid black;
  border-radius: 30px;
  box-shadow: 2px 2px 2px 1px rgb(180, 180, 180);
}
.type img{
  height: 50%;
  padding: 20px;
  object-fit: cover;
  padding-bottom: 0px;
}

.info{
  padding: 5px;
  align-content: center;
}


.type h2{
  padding: 5px;
  margin: 0px 10px 0px 10px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 35px;
}
.type p{
  padding: 2px;
  margin: 1px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

#i4{
  border: 1px solid black;
}


@media only screen and (min-width:650px) and (max-width: 1000px){
  .types{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .type p{
    overflow: scroll;
  }
  
}
@media only screen and (max-width: 650px){
  .types{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
  }
}

footer{
  background-color: #b3dbb3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  padding: 10px;
 justify-content: center;
  text-align: center;
}

.sitebelow{
  color: black;
  position: relative;
  width: 100%;
  padding: 0px;
  top: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
 
}
.sitebelow h2{
  text-align: center;
}
.redes{
  width: 100%;
  text-align: center;
  list-style: none;
  text-decoration: none;
  flex-direction: row;
}

.redes a i{
  text-decoration: none;
  color: white;
  height: 30px;
  margin: 5px;
  font-size: 40px;  
}
a i p{
  font-family: sans-serif;
  color:black;
  font-style:bolder;
  font-size: 20px;
  text-decoration: none;
  text-transform: normal;
}

.logo1{
  padding: 10px;
}
#logo1{
  text-align: center;
  max-width: 40%;
  
}

/**  Productos **/
.content2{
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px;
}

.producto{
  position: relative;
  margin: 10px;
  padding: 10px;
  border: none;
  justify-content: center;
  overflow: hidden;
  flex:none;
}
.producto img{
  height:60%;
  padding:0px;
  margin: 5px;
  object-fit: cover;
  flex-wrap: wrap;
}
.producto img:hover{
  transform:scale(1.1) ;
  transition: 0.9s;
}
.name{
  margin-top:20px;
}
.name p{
  text-align: center;
  font-style: italic;
  font-weight: 0.9px;
  font-size: 18px;

}
.name h1{
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

@media only screen and (min-width:600px){
  .content2{
    grid-template-rows: repeat(2, 500px);
  }
}

@media only screen and (min-width:850px){
  .content2{
    grid-template-rows: repeat(2, 650px);
  }
}

@media only screen and (min-width:1400px){
  .content2{
    grid-template-rows: repeat(2, 800px);
  }
}

/*** Cuidados ***/

.boxes{
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-rows: 1fr, 1fr, 1fr;
  
}

.content3 h1{
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
}
.boxes h2{
  font-size: 30px;
  text-align: center;
  padding: 10px;
}
.boxes .text{
  padding: 30px;
  margin: auto;
  width: inherit;
}

.text p{
  font-size: 18px;
  max-height: 50%;
  overflow: scroll;
}
.text p::-webkit-scroll bar{
  width: 30px;
  color: rgb(0, 0, 0);
}

.R1{
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(2,50%);
}
.boxes p{
  font-size: 18px;
  margin: 2px;
}


.R2{
  display: grid;
  grid-template-columns: repeat(2,50%);
}
.R3{
  display: grid;
  grid-template-columns: repeat(2,50%);
}

.consejo-img img{
  width: 90%;
  height: 100%;
  object-fit: contain;
  padding: 20px;
  flex-wrap:wrap;
}
@media only screen and (max-width:768px){
  .text p{
    max-height: 200px;
  }
  .content3 div{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
  }
}
/*** Nosotros ***/
.content4{
  background-color: white;
  padding: 50px;
  
}
.box-info{
  display: grid;
  width: inherit;
  grid-template-columns: repeat(2,50%);
  background-image: linear-gradient(to left,#E7E8D1, #D5F2BB);
  border: 2px solid black;
  margin: auto;
  top: 50px;
  bottom: 50px;
}
.presentacion{
  height: inherit;
  margin: auto;
}
#in1{
  height: 90%;
  width: 100%;
  margin: auto;
  padding: 10px;
  object-fit: cover;
}
.presentacion h1{
  font-size: 40px;
  color: black;
  margin: 5px;
  text-align: center;
}
.presentacion p{
  position: relative;
  color: black;
  text-align: center;
  font-size: 20px;
  margin: 15px;
}

.presentacion p::-webkit-scroll bar{
  width: 10px;
  color: rgb(51, 51, 51, 0.53);
}

@media only screen and (max-width:700px){
  content4{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: inherit;
  } 
}
@media only screen and (max-width: 500px){
  .box-info{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr;
  }
}

/*** Contacto ***/

.content5{
  width: 100%;
  margin: 0px;
  background-color: white;
  border-top: 2px solid #E7E8D1;
  float:center;
}
.logo-back{
  height: 500px;
  margin-top: 0px;
  margin-bottom: 10px;
  background-image:url("../imagenes/jabones.jpg");
  background-position:center;
  display: grid;
  grid-area: "imagen-logo";
  padding: 30px;
}

.logo-back .logo2{
  max-width:50%;
  font-size: 50px;
  text-align: center;
  padding: 4px;
  margin: auto;
}
.contact{
  display: block;
  width: 50%;
  margin:auto;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #1c1c1c;
  border-radius: 30px;
  background-color: rgb(240, 234, 220, 0.53);
  text-align: center;
}
.contact h1{
  width: 100%;
  height: inherit;
  font-size: 30px;
}




.contact p{
  width: 100%;
  font-style: italic;
  font-size: 18px;
  margin: 5px;
}

form{
  margin: 3px;
  width: 100%;
  padding: 5px;
  text-align: center;
}
form label{
  font-size: 20px;
}
textarea{
  min-height: 100px;
  max-height: 200px;
  width:100%;
  background: none;
  border: 1px solid #1c1c1c;
}
.form-control{
  font-size: 20px;
  float: center;
  width: 70%;
  margin:auto;
  background: none;
  border:none;
  border-bottom: 2px solid #1c1c1c;
  box-shadow: 2px 1px 2px 1px  #1c1c1c;
}
form h2{
  font-size: 20px;
}
.boton{
  display: block;
  width: 100%;
  padding: 3px;
  font-size: 18px;
  margin:auto;
  border: 1px solid black;
  background-color: #D7E6B1;
  box-shadow: 2px 2px 2px #1c1c1c;
  cursor:pointer;
}
