$text:(
        titulo:40px,
        subtitulo:25px,
        texto:18px,
        padding0: 0px,
        padding1: 10px,
        padding2: 5px,
      );

.content{
    height: auto;
    width: 100%;
    margin-top: 0px 10px 5px 10px;
    background-color: white;
    
    .principal{
        
        margin: 2px;
        background-image: url("imagenes/cremas.jpg");
        background-size: cover;
        background-position: center;
        object-fit: contain;
        flex-wrap: nowrap;

        h1{
            font-size: map-get($text,titulo);
            padding: map-get($text, padding2);
            margin: map-get($text , padding1 );
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
          }
        
        p{
            @extend h1;
            font-size: map-get($text,texto);
            padding: map-get($text,padding1);
            text-transform: none;
            color: $color-texto;
          }

      }
    
    h1{
        font-size: map-get($text, titulo );
        width: 100%;
        padding: map-get($text,padding2);
        margin: map-get($text,padding1);
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
      }
    
    
    
    .types{
        height: auto;
        padding: map-get($text,padding0);
        margin: 5px 0px 5px 0px;
        background-color: white;
        display: grid;
        grid-template-columns: repeat(3,1fr);

        .type{
            display: flex;
            flex-direction: column;
            margin: 0px 5px 0px 5px;
            margin-bottom: 0px;
            border: 0px;
            padding: map-get($text,padding0);
            justify-content: center;
            width: auto;
            flex-wrap: wrap;
            flex-flow: row wrap;
            border: none;
          
            img{
                padding: 20px;
                object-fit: center;
            }

            .info{
                padding: map-get($text,padding1);
                align-content: center;

                h2{
                    padding: map-get($text,padding1);
                    margin: 0px 10px 0px 10px;
                    text-align: center;
                    text-decoration: none;
                    color: $color-texto;
                    font-size: map-get($text, subtitulo);
                }

                p{
                    padding: 2px;
                    margin: 1px;
                    color: black;
                    text-align: center;
                    text-decoration: none;
                    font-size: map-get($text, texto );
                }

            }

          }

          

      }

      
      @media only screen and (min-width:650px) and (max-width: 1000px){
            .types{
              display: grid;
              grid-template-columns: repeat(2,1fr);
              
            }
            
          }
      @media only screen and (max-width: 650px){
            .types{
              display: grid;
              grid-template-columns: 1fr;
              grid-template-rows: repeat(3,1fr);
            }
          }

}