$color-principal:#b3dbb3;
$color-hover:#82c282;
$color-texto:black;
$font:sans-serif;
$margin-logo:10px;

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
  }

  body{

    font-family: sans-serif;
    display: block;


    @mixin sizes($color,$font,$align){
          color:$color;
          font-size: $font;
          text-align: $align;
    }

    header{
        display: grid;
      
        width: 100%;
        margin: 0px;
        padding: 0px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header";
        background-color: $color-principal;
        
        #logo{
            max-height: 30px;
            margin-top: $margin-logo;
            margin-bottom: $margin-logo;
            margin-right: $margin-logo;
            margin-left: $margin-logo;
        }

       

        .lista{
            @include sizes(black,20px,none);

            .item{
                @include sizes(black,30px,center);
                padding: 0px 5px 0px 5px;
                border-right: 1px solid $color-texto;  
                border-left: 1px solid $color-texto;

                &:hover{
                    background-color: $color-hover;
                  }

                &:after{
                    display: block;
                    content: "";
                    background-color: $color-texto;
                    height: 3px;
                    transform: scale(0,1);
                    transform-origin: center;
                    transition: transform .25s;
                }

                &:hover:after{
                    transform: scale(1,1);
                }


          }


      }
    }

        .slide{
            width: 100%;
            background-color: white;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            object-fit: cover;
            min-width: 100px;


            .imagenes{
                .imagen-item{
                    #i1{
                        &:hover{
                        transform: scale(1.2);
                        box-shadow: 2px #636363;
                        }
                    }  

                    #i2{
                        &:hover{
                            transform: scale(1.2);
                            box-shadow: 2px #636363;
                        }
                    }

                }

            }
        }

    @import '_content.scss';

    footer{
        background-color: $color-principal;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 100%;
        padding: 10px;
        justify-content: center;
        text-align: center;

        .sitebelow{
            color: $color-texto;
            width: 100%;
            padding: 0px;
            top: 0px;
            margin-top: 5px;
            margin-bottom: 5px;
            display: block;

            h2{
                @include sizes(black,25px,center);
            }

            .redes{
                width: 100%;
                text-align: center;
                list-style: none;
                text-decoration: none;
                flex-direction: row;

                i{
                    height: 20px;
                    padding:  5px;
                    margin: 5px;
                    font-size: 20px;  
                  }

            }

            .logo1{
                padding: 10px;

                #logo1{
                    text-align: center;
                    max-width: 20%;
                  }

            }
           
          }

      }
    
}